
@model PeopleViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Name</h5>
        </div>
        <div class="col">
            <h5>ID</h5>
        </div>
    </div>
</div>


@foreach (City city in @Model.Cities)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <p>@city.Name</p>
            </div>
            <div class="col">
                <p>@city.CityId</p>
            </div>
        </div>
    </div>
}
