@model PeopleViewModel

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Name</h5>
            </div>
            <div class="col">
                <h5>ID</h5>
            </div>
            <div class="col">
                <h5>Delete</h5>
            </div>
        </div>
    </div>


    @foreach (Country country in @Model.Countries)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>@country.Name</p>
                </div>
                <div class="col">
                    <p>@country.CountryId</p>
                </div>
                <div class="col">
                    <button onclick="deleteCountry(@country.CountryId)">Delete</button>
                </div>
            </div>
        </div>
    }

    <h3>Add Country</h3>
    <form asp-action="CreateCountry" asp-controller="People" method="post">

        <label asp-for="CreateCountry.Name"></label>
        <input asp-for="CreateCountry.Name" />
        <span asp-validation-for="CreateCountry.Name"></span>

        <button type="submit">Create</button>
        <button type="reset">Reset</button>
    </form>
    <br />

    <h3>Edit Country</h3>
    <form asp-action="EditCountry" asp-controller="People" method="post">

        <label asp-for="EditCountry.Id"></label>
        <input asp-for="EditCountry.Id" />
        <span asp-validation-for="EditCountry.Id"></span>

        <label asp-for="EditCountry.NewName"></label>
        <input asp-for="EditCountry.NewName" />
        <span asp-validation-for="EditCountry.NewName"></span>

        <button type="submit">Edit</button>
        <button type="reset">Reset</button>
    </form>
    <br />

    <script>
        function deleteCountry(e) {
            let id = e;
            var url = "People/DeleteCountry/" + id;
            $.post(url, function (res) {
                $("#peopleView").html(res);
            });
        }
    </script>


}
