@model PeopleViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Name</h5>
        </div>
        <div class="col">
            <h5>ID</h5>
        </div>
    </div>
</div>


@foreach (Country country in @Model.Countries)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <p>@country.Name</p>
            </div>
            <div class="col">
                <p>@country.CountryId</p>
            </div>
        </div>
    </div>
}
