@model PeopleViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Name</h5>
        </div>
        <div class="col">
            <h5>ID</h5>
        </div>
        <div class="col">
            <h5>Edit</h5>
        </div>
        <div class="col">
            <h5>Delete</h5>
        </div>
    </div>
</div>


@foreach (Country country in @Model.Countries)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <p>@country.Name</p>
            </div>
            <div class="col">
                <p>@country.CountryId</p>
            </div>
            <div class="col">
                <button type="button" asp-controller="People" asp-action="EditCountry"
                        data-target="peopleView" id="editCountryButton">
                    Edit
                </button>
            </div>
            <div class="col">
                <button onclick="deleteCountry(@country.CountryId)">Delete</button>
            </div>
        </div>
    </div>
}

<script>
            //$("#countriesButton").click(function (e) {
            //    $.get("People/ShowCountries", function (res) {
            //        $("#peopleView").html(res);
            //    });
            //});
    //$("#deleteCountryButton").click(function (e) {
    //    $.post("People/DeleteCountry/", function (res) {
    //        $("#peopleView").html(res);
    //    });
    //});
    function deleteCountry(e) {
        let id = e;
        var url = "People/DeleteCountry/" + id;
        $.post(url, function (res) {
            $("#peopleView").html(res);
        });
    }


</script>
