
@model PersonDetailsViewModel


<div class="container">
    <div class="row">
        <div class="col">
            <p>@Model.Person.Name</p>
        </div>
        <div class="col">
            <p>@Model.Country.Name</p>
        </div>
        <div class="col">
            <p>@Model.City.Name</p>
        </div>
        <div class="col">
            <p>@Model.Person.PhoneNumber</p>
        </div>
    </div>
</div>