
@model Person


<div class="container" id="personview">
    <div class="row">
        <div class="col">
            <p>@Model.Name</p>
        </div>
        <div class="col">
            <p>@Model.City</p>
        </div>
        <div class="col">
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col">
            <a asp-controller="People" asp-action="Remove"
               asp-route-id="@Model.Id">Remove</a>
        </div>
    </div>
</div>