@model PeopleViewModel
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<h3>Search</h3>

<form asp-action="Index" method="post">
    <label asp-for="SearchPhrase"></label>
    <input asp-for="SearchPhrase" />
</form>

<h3>Add Person</h3>
<form asp-action="CreatePerson" asp-controller="People" method="post">

    <label asp-for="CreatePerson.Name"></label>
    <input asp-for="CreatePerson.Name" />
    <span asp-validation-for="CreatePerson.Name"></span>

    <label asp-for="CreatePerson.City"></label>
    <input asp-for="CreatePerson.City" />
    <span asp-validation-for="CreatePerson.City"></span>

    <label asp-for="CreatePerson.PhoneNumber"></label>
    <input asp-for="CreatePerson.PhoneNumber" />
    <span asp-validation-for="CreatePerson.PhoneNumber"></span>

    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>

<button type="button" asp-controller="People" asp-action="ShowPeople"
        data-target="peopleView" id="peopleButton">
    People
</button>
<div id="peopleView"></div>
<script>
    $("#peopleButton").click(function (e) {
        $.get("People/ShowPeople", function (res) {
            $("#peopleView").html(res);
        });
    });

</script>

<label for="id">Enter ID:</label>
    <input type="number" id="id" />
    <button type="submit" asp-controller="People" asp-action="Details"
            id="detailsButton" data-target="peopleView">
        Get Details
    </button>

    <script>      
        $("#detailsButton").click(function (e) {
            let id = $("#id").val();
            $.post("People/Details/" + id, function (res) {
                $("#peopleView").html(res);
            });
        });
    </script>

@*<button type="submit" asp-controller="People" asp-action="Delete"
        id="deleteButton" data-target="peopleView">
    Delete
</button>



<script>
    $("#deleteButton").click(function (e) {
        $.post("People/Delete", function (res) {
            $("#peopleView").html(res);
        });
    });
</script>*@









